.hero {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.increase-visibility {
  background-color: rgba(34, 40, 49, 0.7);
  width: 400px;
  height: auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.hero > h1 {
  margin-bottom: 5px;
  font-size: 32px;
}

.hero > h2, .hero > h1 {
  font-weight: 300;
}

.transparent {
  opacity: 0;
}

.animate-hero-h1 {
  animation-name: hero-fade;
  animation-duration: 1.5s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}

.animate-hero-h2 {
  animation-name: hero-fade;
  animation-duration: 1.5s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
}

@keyframes hero-fade {
  from {opacity: 0;}
  to {opacity: 1;}
}