* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.secondary-container {
  display: flex;
  padding: 50px 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.white-bg-container {
    color: #222831;
}

.dark-bg-container {
    color: #fff;
    background-color: #222831;
}