* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

#root {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
}

.secondary-container {
  display: flex;
  padding: 50px 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.white-bg-container {
    color: #222831;
}

.dark-bg-container {
    color: #fff;
    background-color: #222831;
}

@media only screen and (max-width: 600px) {
    .container, .secondary-container {
        padding: 25px 10px;
    }
}