.master-criteria h4 {
  font-size: 24px;
  align-self: center;
  margin-bottom: 20px;
}

.master-criteria > div {
  align-self: center;
  margin-bottom: 20px;
}

.master-criteria > div p {
  margin-bottom: 5px;
}

.master-criteria p:last-child {
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .master-criteria h4{
    font-size: 20px;
  }

  .master-criteria p {
    font-size: 14px;
  }
}