.programs > div:first-child {
  margin-bottom: 30px;
}

.programs ol > li{
  margin-bottom: 15px;
}

.programs ul {
  list-style-type: disc;
  margin-left: 15px;
}

@media only screen and (max-width: 820px) {
  .study-programs > .programs {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .study-programs h4 {
    font-size: 20px;
  }

  .study-programs ol {
    font-size: 14px;
  }
}