.admittance {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.admittance .licenta, .admittance .master {
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.admittance h4 {
  align-self: center;
  margin-bottom: 15px;
}

.admittance p {
  margin-bottom: 10px;
}

.licenta p:nth-child(3), .admittance p:nth-child(7) {
  margin-bottom: 20px;
}

.licenta p:nth-child(5) {
  align-self: center;
}

.admittance a {
  color: #fff;
  font-weight: bold;
}

.admittance a:hover {
  text-decoration: underline;
}