.offer {
  align-items: center;
}

.offer a {
  text-decoration: none;
  font-weight: bold;
  color: #0D64CC;
  font-weight: 500;
}

.offer a:last-child {
  margin-top: 10px;
  align-self: flex-start
}

.offer h4 {
  font-size: 32px;
}

@media only screen and (max-width: 600px) {
  .offer h4 {
    font-size: 22px;
  }

  .offer h5 {
    font-size: 20px;
  }

  .offer p {
    font-size: 14px;
  }
}